<p id="notice"><%= notice %></p>

<svg viewBox="0 0 100 100">
  <filter x="-2%" y="-2%" width="104%" height="104%" filterUnits="objectBoundingBox" id="pencilTexture3">
    <feTurbulence type="fractalNoise" baseFrequency="2.5" numOctaves="5" stitchTiles="stitch" result="f1"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0, 0 0 0 0 0, 0 0 0 0 0, 0 0 0 -1.5 1.5" result="f2"/>
    <feComposite operator="in" in2="f2b" in="SourceGraphic" result="f3"/>
    <feTurbulence type="fractalNoise" baseFrequency="1.2" numOctaves="3" result="noise"/>
    <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale=".15" in="f3" result="f4"/>
  </filter>
  <g id="entityGroup" filter="url(#pencilTexture3)"></g>
</svg>

<script>
  var width = d3.select("body").node().getBoundingClientRect().width
  var data = JSON.parse(<%= raw @scene.json.to_json %>)
  var svg = d3.select("svg")
    .attr("height", width)
    .attr("width", width)

  var entities = d3.select("#entityGroup")
    .selectAll("g.entity")
    .data(data.entities)
    .enter()
    .append("g")
    .attr("class", "entity")
    .attr("transform", (d) => `translate(${d.x} ${d.y}) scale(${d.scale})`)

  var layers = entities
    .selectAll("g")
    .data((d) => d.layers)
    .enter()
    .append('g')

  var shapes = layers
    .selectAll('path')
    .data((d) => d.shapes)
    .enter()
    .append('path')
    .attr("d", (d) => d.path)
    .attr("transform", (d) => `translate(${d.x} ${d.y}) scale(${d.scale})`)
</script>

<p> 
<strong>Json:</strong>
<%= @scene.json %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
