<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>

<div class="message-list">
  <% @messages.each do |message| %>
    <div class="message <%= message.user %>">
      <small><%= message.user %>:</small><br>
      <%= render "static_canvas", message: message unless message.canvas.blank? %>
      <p><%= message.body %></p>
    </div>
  <% end %>
</div>

<%= render "messages/form", story: @story, message: @message if @user %>
