<div class="header">
  <h2>Story Prototype</h2>
  <p><%= loginStatus(@user) %></p>
  <div>
    <%= button_to "Sign in as Narrator", '/sessions/create/narrator' unless @user == 'narrator' %>
    <%= button_to "Sign in as Hero", '/sessions/create/hero' unless @user == 'hero' %>
    <%= button_to "Logout", sessions_destroy_path, method: :delete if @user %>
  </div>
</div>

<div class="message-list">
  <% @messages.each do |message| %>
    <div class="message <%= message.user %>">
      <small><%= message.user %>:</small><br>
      <%= render "static_canvas", message: message unless message.canvas.blank? %>
      <p><%= message.body %></p>
    </div>
  <% end %>
</div>

<% if @user == 'narrator' %>
  <div id="sceneEditor" class="overlay" style="display:none;">
    <div class="overlay-body">
      <h2>Scene Editor</h2>
      <%= render "canvas" %>
    </div>
  </div>

  <canvas id="newStaticCanvas" width="400px" height="400px" ></canvas>
  <script>
    var newStaticCanvas = new fabric.StaticCanvas("newStaticCanvas")
    newStaticCanvas.setWidth(document.body.clientWidth - 10)
    newStaticCanvas.setHeight(document.body.clientWidth - 10)
    newStaticCanvas.setZoom(displayCanvas.width / 400)
  </script>

  <button onClick="document.getElementById('sceneEditor').style.display = 'block'">
    Edit Scene
  </button>
<% end %>

<%= render "messages/form", message: @message if @user %>


<div id="end"></div>
<script>
  // scroll to bottom of page on page load
  window.scrollTo(0, document.documentElement.scrollHeight);
</script>
