<h1>Story Prototype</h1>

<p><%= loginStatus(@user) %></p>

<%= button_to "Sign in as Narrator", '/sessions/create/narrator' unless @user == 'narrator' %>
<%= button_to "Sign in as Hero", '/sessions/create/hero' unless @user == 'hero' %>
<%= button_to "Logout", sessions_destroy_path, method: :delete if @user %>

<% @messages.each do |message| %>
  <div class="message <%= 'mine' if message.user == @user %>">
    <small><%= message.user %>:</small>
    <p><%= message.body %></p>
  </div>
<% end %>

<canvas id="canvas"></canvas>

<%= render "messages/form", message: @message if @user %>

<script>
  const canvas = new fabric.Canvas("canvas")
  canvas.isDrawingMode = true
</script>
