<h1>Story Prototype</h1>

<p><%= loginStatus(@user) %></p>

<%= button_to "Sign in as Narrator", '/sessions/create/narrator' unless @user == 'narrator' %>
<%= button_to "Sign in as Hero", '/sessions/create/hero' unless @user == 'hero' %>
<%= button_to "Logout", sessions_destroy_path, method: :delete if @user %>

<% @messages.each do |message| %>
  <div class="message <%= 'mine' if message.user == @user %>">
    <small><%= message.user %>:</small>
    <canvas id="<%= "canvas_#{message.id}" %>" width="400px" height="400px" ></canvas>
    <script>
      var displayCanvas = new fabric.Canvas(<%= "canvas_#{message.id}" %>)
      displayCanvas.loadFromJSON('<%= raw(message.canvas) %>')
    </script>
    <p><%= message.body %></p>
  </div>
<% end %>

<%= render "canvas" if @user == 'narrator' %>

<%= render "messages/form", message: @message if @user %>

