<div class="header">
  <h2> <%= link_to 'Story Prototype', root_path %> </h2>
  <div>
    <%= link_to 'Entities', entities_path %>
    <%= link_to 'Scenes', scenes_path %>
    <%= link_to 'Stories', stories_path %>
  </div>
  <div>
    <p><%= loginStatus(@user) %></p>
    <%= button_to "Sign in as Narrator", '/sessions/create/narrator' unless @user %>
    <%= button_to "Sign in as Hero", '/sessions/create/hero' unless @user %>
    <%= button_to "Logout", sessions_destroy_path, method: :delete if @user %>
  </div>
</div>
